---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Portfolio">
	<Header />
	<main class="max-h-screen bg-secondary-900 dark:bg-secondary-100">
		<article class="flex flex-col md:flex-row items-center w-full max-w-6xl gap-8 h-screen mx-auto pt-28 md:px-2 md:pt-0">
			<div class="flex flex-col justify-center items-center w-full max-w-md px-2 md:px-0">
				<img class="max-w-md w-full rounded-xl mb-5" src="/migue_portfolio.webp" alt="Comical draw of me">
				<!-- Display a palette of the primary, secondary, tertiary, quaternary and quinary with 5 rectangles -->
				<label class="self-start text-2xl font-semibold mb-2">Color palette</label>
				<ul class="flex justify-between w-full gap-3">
					<li class="bg-primary w-20 h-12 rounded-sm"></li>
					<li class="bg-secondary w-20 h-12 rounded-sm"></li>
					<li class="bg-tertiary w-20 h-12 rounded-sm"></li>
					<li class="bg-quaternary w-20 h-12 rounded-sm"></li>
					<li class="bg-quinary w-20 h-12 rounded-sm"></li>
				</ul>
			</div>
			
			<div class="flex flex-col gap-6 w-full items-end max-w-lg px-2 md:px-0">
				<p class="text-base max-w-prose">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, consequuntur, accusantium, omnis nobis quae eius ut earum molestias cumque expedita beatae ab doloremque illo hic. Nostrum corrupti iste soluta harum.
				</p>
				<!-- quote from Carl Sagan -->
				<blockquote class="text-base max-w-prose">
					<p class="text-lg font-semibold text-secondary dark:text-slate-100">
						We are a way for the cosmos to know itself.
					</p>
					<footer class="text-base text-tertiary dark:text-slate-300">
						Carl Sagan
					</footer>
				</blockquote>
			</div>
		</article>
		<article class="flex flex-col justify-center h-screen bg-quaternary">
			
		</article>
		<article class="flex flex-col justify-center h-screen bg-quinary">
			
		</article>
	</main>
</Layout>

<style>

main {
	scroll-snap-type: y mandatory;
	overflow-y: auto;
}

article {
	scroll-snap-align: start;
}
</style>
