---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Portfolio">
	<Header />
	<main class="flex flex-col justify-center items-center h-screen bg-slate-900">
		<article class="flex items-center w-full max-w-6xl gap-8">
			<img class="max-w-md rounded-xl" src="/comic-me.webp" alt="Comical draw of me">
			<div class="flex flex-col gap-6">
				<p class="text-base max-w-prose">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, consequuntur, accusantium, omnis nobis quae eius ut earum molestias cumque expedita beatae ab doloremque illo hic. Nostrum corrupti iste soluta harum.
				</p>
				<!-- quote from Carl Sagan -->
				<blockquote class="text-base max-w-prose">
					<p class="text-lg font-semibold text-slate-100">
						We are a way for the cosmos to know itself.
					</p>
					<footer class="text-base text-slate-300">
						Carl Sagan
					</footer>
				</blockquote>
			</div>
		</article>
	</main>
	<main class="flex flex-col justify-center h-screen bg-slate-600">
		
	</main>
	<main class="flex flex-col justify-center h-screen bg-slate-900">
		
	</main>
</Layout>

<style>
</style>
